{% load static %}

<!-- Bootstrap and necessary plugins -->
<script src="{% static 'dist/vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'dist/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dist/vendors/bootstrap/js/popover.js' %}"></script>

<script src="{% static 'dist/vendors/PACE/pace.min.js' %}"></script>




<!-- Plugins and scripts required by this views -->

<!-- Custom scripts required by this view -->
<script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>

{% block script %}

{% endblock %}
